# Godot 4+ specific ignores
.godot/
/android/

# Ignore all blender backup files
*.blend1

# Ignore all files in the .builds directory except the .keep file to push the directory

!.builds/web/.keep
!.builds/windows/.keep
!.builds/linux/.keep

# Ignore all files that are local vscode settings
.vscode/
*.code-workspace